<% @title = 'Contact us' -%>
<% content_for(:styles) do -%>
  <%= stylesheet_link_tag 'strangers/contact' %>
<% end -%>
<h1>Contact us</h1>
<p><b>Email:</b> <%= link_to 'contact@typefront.com', 'mailto:contact@typefront.com' %></p>
<p><b>Telephone:</b> +61 7 3208 6086</p>
<p>TypeFront is a product of <%= link_to 'Small Spark', 'http://www.smallspark.com.au' %>, a web design and development agency in Brisbane, Australia.</p>
<p><b>Registered office:</b></p>
<p class="address">38/8 Briggs Road</p>
<p class="address">Springwood Q 4127</p>
<p class="address">Australia</p>
