@import "layouts/standard"

#body
  h2
    margin: 30px 0 20px
  p
    line-height: 1.4em
    margin: 10px 0
  .code
    +monospace-font
    font-size: 13px
    margin: 5px 0
  dl
    margin: 20px 0
  dt
    margin: 10px 0
    font-weight: bold
    font-size: 17px
  dd
    margin: 0 0 20px 20px
    em
      color: $dark_pink
      font-style: normal
    p
      margin: 0
    pre
      margin: 5px 0
      line-height: 1.4em
