body {
  background-color: #2B211D;
}

#page-wrapper {
  background-color: #FFF;
  margin: 10px 0 0;
}

.page-width {
  width: 810px;
  margin-left: auto;
  margin-right: auto;
}

.get-started {
  background: url(/images/strangers/home/get-started.png) no-repeat scroll top left;
  width: 171px;
  height: 120px;
  text-indent: -10000px;
}

.grey-bar {
  background: #f2f2f2 url(/images/strangers/home/grey-bar.png) repeat-x scroll bottom left;
}

.grey-bar h2 {
  position: relative;
  top: -25px;
  font-size: 36px;
}

#section-1 {
  margin-top: 10px;
  position: relative;
}

#section-1 h1 {
  background: url(/images/strangers/home/logo.png) no-repeat scroll top left;
  text-indent: -10000px;
  width: 239px;
  height: 151px;
  float: left;
}

#section-1 h2 {
  background: url(/images/strangers/home/sunburst.png) no-repeat scroll center center;
  height: 97px;
  padding: 30px 0;
  margin: 10px 20px;
  font-size: 30px;
  text-align: center;
  float: left;
}

#section-1 .get-started {
  margin: 31px 0 0;
  position: absolute;
  top: -10px;
  right: 10px;
}

#section-1 #or {
  position: absolute;
  top: 151px;
  right: 149px;
  font-weight: 500;
  font-size: 20px;
}

#section-1 .login {
  background: url(/images/strangers/home/login.png) no-repeat scroll top left;
  width: 115px;
  height: 56px;
  text-indent: -10000px;
  position: absolute;
  top: 142px;
  right: 27px;
}

#section-2 {
  margin-top: 50px;
}

#section-2 h3 {
  font-size: 24px;
  font-weight: 500;
  margin: -7px 0 20px;
}

#section-2 p {
  margin: 10px 0;
  line-height: 1.4em;
  font-size: 14px;
}

#section-2 .left-col, #section-2 .right-col {
  width: 384px;
  margin: 5px 0 36px;
  padding-bottom: 14px;
  float: left;
}

#section-2 .left-col {
  padding-right: 20px;
  border-right: 2px solid #FFF;
}

#section-2 .right-col {
  padding-left: 20px;
  position: relative;
  top: 36px;
}

#section-3 {
  margin-top: 50px;
}

#section-3 h2 {
  top: -20px;
}

#upload, #domains, #include {
  width: 230px;
  padding: 5px 15px 60px;
  font-size: 14px;
  text-align: center;
  float: left;
}

#section-4 {
  margin: 10px 0 0;
  padding-bottom: 50px;
}

#section-4 h2 {
  margin-bottom: 10px;
}

.browser {
  width: 135px;
  text-align: center;
  float: left;
}

#firefox {
  margin-top: 4px;
}

#safari {
  margin-top: 1px;
}

#chrome {
  margin-top: 4px;
}

.browser p {
  margin-top: 10px;
  font-size: 14px;
}

#section-4 .get-started {
  float: left;
  margin: 10px 0 0 98px;
}

#footer {
  margin: 10px 10px 100px;
  color: #FFF;
}

#footer .copyright {
  float: left;
}

#footer .tos {
  float: right;
}

#footer a {
  color: #ff7bac;
}
