#new-domain-form
  label
    display: block
    margin-top: -5px
    margin-bottom: 5px
    width: 100%
    text-align: left
    line-height: 25px

  textarea
    +monospace-font
    font-size: 13px
    width: 654px
    margin-bottom: 10px

.domains
  +clearfix
  margin: 20px 0

.domain
  list-style-type: none
  clear: both
  margin: 5px 0

  .submit
    background: url('/images/layouts/standard/icons.png') no-repeat scroll right -39px
    height: 21px
    width: 21px
    text-indent: -10000px
    opacity: 0.9
    margin-left: 10px
    position: relative
    top: 2px

  .submit:hover
    opacity: 1

  .submit:active
    outline: none

  .loading
    position: relative
    top: 8px
    left: 10px

.domain-name
  float: left
  font-weight: bold
  line-height: 30px
