.rvmrc
.ruby-version
.ruby-gemset

config/database.yml
config/analytics_config.yml

db/*.sqlite3*

public/system
.sass-cache

public/javascripts/cache

tmp/*
coverage
*.log
log/*

lib/tasks/metric_fu.rake

/config.ru
