@font-face {
  font-family: "Kimberley";
  src: local("Kimberley-Regular");
}

@font-face {
  font-family: "Doradani";
  src: local("DoradaniRg-Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Doradani";
  src: local("DoradaniSb-Regular");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Doradani";
  src: local("DoradaniRg-Bold");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Doradani", Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: "Doradani", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  color: #2B211D;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 100%;
}

ul {
  list-style-type: disc;
  margin: 10px 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
