@import layouts/standard.sass

#page-wrapper
  padding-bottom: 50px

#page
  position: relative

#logo
  margin-right: 50px
  float: left

#free-trial-stamp
  position: absolute
  top: 40px
  right: 70px

p
  margin: 10px 0 0 75px

h1
  padding: 50px 0 80px
  margin-bottom: 5px

#plans
  background: url(/images/strangers/pricing/plans-bg.png) no-repeat scroll top center
  height: 329px
  position: relative
  top: -15px

.plan
  padding: 11px
  border: 0
  position: absolute
  text-align: center

  h2
    font-weight: bold
    font-size: 40px
    margin: -3px 0 8px

  .price
    font-size: 25px
    margin-bottom: 20px

  .features
    margin-bottom: 30px

  p
    font-size: 15px
    margin: 4px 0

  .submit
    +primary-font
    background-color = !brown
    color = !white
    padding: 8px 18px
    font-size: 20px
    font-weight: bold
    margin-top: -7px
    border: 0
    cursor: pointer

#business
  top: 24px
  left: 73px
  width: 175px
  height: 200px

  h2
    font-size: 35px
    margin: 1px 0 9px

  .price
    font-size: 17px
    margin-bottom: 26px
    
  .submit
    padding: 8px 14px

#power
  top: 24px
  left: 273px
  width: 172px
  height: 200px

  .price
    margin-bottom: 25px

#plus
  top: 8px
  left: 470px
  width: 213px
  height: 231px

  h2
    font-size: 45px
    margin-top: 1px

  .price
    font-size: 25px
    margin-bottom: 28px
    position: relative
    top: 3px

  p
    font-size: 17px

  .submit
    font-size: 30px
    background-color = !orange
    position: relative
    margin-top: -4px

#free
  border: 1px solid transparent
  position: absolute
  top: 24px
  left: 708px
  width: 156px
  height: 200px
  padding: 10px

  .price
    font-size: 19px
    margin-bottom: 27px

.changing
  #plus
    .submit
      font-size: 25px
      margin-top: 0


#currency-reminder
  position: absolute
  top: 258px
  left: 80px
  font-size: 14px
  color = !dark_grey
  margin: 0

  a
    color = !black

.left, .right
  width: 400px
  float: left
  position: relative
  left: 75px
  margin-right: 40px

  p
    margin-left: 0
    margin-right: 0

.question, .answer
  margin-right: 45px

.question
  font-weight: bold
  font-size: 18px
  line-height: 140%
  clear: both

.answer
  line-height: 1.4em
  margin-bottom: 30px
