body {
  background-color: #2B211D;
}

#page-wrapper {
  background-color: #FFF;
  margin: 10px 0 0;
}

#logo {
  font-family: "Kimberley", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: 0px;
  text-transform: uppercase;
  background: url('/images/layouts/standard/logo-bg.jpg') no-repeat scroll top left;
  width: 220px;
  height: 120px;
  padding: 7px 19px;
}

#logo a {
  color: #f1e4b7;
}

#logo a:hover {
  text-decoration: none;
}

#logo a span {
  font-family: "Kimberley", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #ff7bac;
}

#sidebar {
  float: left;
  width: 225px;
}

#menu li {
  list-style-type: none;
  font-size: 24px;
  font-weight: 500;
  padding: 6px 4px 12px;
}

#menu-myfonts, #menu-myaccount, #menu-api {
  background: url('/images/layouts/standard/menu-separator.png') no-repeat scroll bottom left;
}

#menu li#menu-loggedin {
  font-weight: normal;
  font-size: 11px;
}

#menu li#menu-loggedin a {
  float: right;
  color: #C5003E;
}

#menu li#menu-loggedin a:hover {
  text-decoration: underline;
}

#menu a {
  text-decoration: none;
  color: #000;
}

#flash_notice {
  margin: 30px 0 0;
  line-height: 1.4em;
  border: 2px solid #ff7bac;
  padding: 10px;
  background-color: #FFEFF5;
}

#body {
  float: left;
  width: 680px;
  position: relative;
  top: -115px;
  margin: 0 0 -80px 55px;
  min-height: 440px;
}

#footer {
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 50px;
}

#footer .copyright {
  float: left;
}

#footer .tos {
  float: right;
}

#footer .tos a {
  color: #FF7BAC;
}
