:maruku
  **TypeFront** is a product of [Small Spark Pty Ltd][smallspark], ABN
  36 138 526 511.

  The Small Spark office is located at 38/8 Briggs Road, Springwood Q
  4127, Australia.

  You can contact us regarding your account at any time on +61 7 3208
  6086 or via email to [contact@typefront.com][email].  The transmission
  of your credit card details to our secure server is protected by **SSL
  encryption**.

  [smallspark]: http://www.smallspark.com.au/
  [email]: mailto:contact@typefront.com
