<% @title = "Subscription cancelled" %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'users/subscription_cancelled' %>
<% end %>
<h1>Subscription cancelled</h1>
<p>Your subscription was cancelled. You have not signed up for any subscription and will not be charged anything.</p>
<p>If you had a problem during the payment process, please get into contact with us at <%= link_to 'contact@typefront.com', 'mailto:contact@typefront.com' %> and we will sort it out for you.</p>
