.fonts {
  margin: 20px 0;
}

.font {
  margin-bottom: 5px;
  padding-bottom: 18px;
  background: url('/images/layouts/standard/list-item-shadow.jpg') no-repeat scroll bottom left;
}

.font-inner {
  border: 2px solid #CCC;
  padding: 15px;
  position: relative;
}

.highlight .font-inner {
  border: 2px solid #FF7BAC;
}

.description {
  float: left;
}

.name {
  color: #000;
  text-decoration: none;
  font-size: 150%;
}

.name:hover {
  text-decoration: none;
}

.face {
  text-transform: lowercase;
  margin: 5px 0 0 2px;
}

.remove-font {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.7;
}

.remove-font span {
  display: none;
}

#new-font-header {
  margin-bottom: 15px;
}

#new-font-form {
  margin-top: 10px;
}

#new-font-form label {
  width: 35px;
}

.submit {
  margin: 10px 0 0 45px;
}

.formError {
  margin-left: 45px;
}
