.fonts {
  margin: 20px 0;
}

.font {
  margin-bottom: 5px;
  padding-bottom: 18px;
  background: url('/images/layouts/standard/list-item-shadow.jpg') no-repeat scroll bottom left;
}

.font-inner {
  border: 2px solid #CCC;
  padding: 15px;
  position: relative;
}

.highlight .font-inner {
  border: 2px solid #FF7BAC;
}

.description {
  float: left;
}

.name {
  color: #000;
  text-decoration: none;
  font-size: 150%;
}

.name:hover {
  text-decoration: none;
}

.face {
  text-transform: lowercase;
  margin: 5px 0 0 2px;
}

.remove-font {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.7;
}

.remove-font span {
  display: none;
}

#upper-pagination {
  position: absolute;
  top: 13px;
  right: 0;
}

#lower-pagination {
  float: right;
  position: relative;
  top: -13px;
}

.pagination .disabled {
  opacity: 0.7;
}

.pagination .prev_page, .pagination .next_page {
  display: none;
}

.pagination span, .pagination a {
  border: 1px solid #b3b3b3;
  padding: 5px 10px;
  font-size: 11px;
}

.pagination a {
  color: #b3b3b3;
}

.pagination a:hover {
  text-decoration: none;
  background-color: #EEE;
  color: #000;
}

.empty-message {
  margin: 30px 0;
}

#new-font-header {
  margin-bottom: 15px;
}

#new-font-form {
  margin-top: 10px;
}

#new-font-form label {
  width: 35px;
}

.submit {
  margin: 10px 0 0 45px;
}

.formError {
  margin-left: 45px;
}

.upgrade-button {
  display: block;
  width: 95px;
  padding: 10px;
  margin: 20px 0 0;
  background-color: #2B211D;
  color: #F1E4B7;
  text-align: center;
  cursor: pointer;
}

.upgrade-button:hover {
  text-decoration: none;
}
