@import compass/utilities/general/reset.sass
@import compass/utilities/general.sass

+global-reset

// Site colours
!white = #FFF
!almost_white = #FFEFF5
!black = #000
!tan = #F1E4B7
!brown = #C1986B
!dark_brown = #2B211D
!dark_pink = #C5003E
!lightest_pink = #FFEFF5
!light_pink = #FF7BAC
!lightest_grey = #EEE
!light_grey = #CCC
!grey = #B3B3B3
!dark_grey = #444
!orange = #FD9E36
!yellow = #EFD786

// Site fonts
@font-face
  font-family: "Doradani"
  src: url(http://staging.typefront.com/fonts/15.eot)
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Doradani"
  src: url(http://staging.typefront.com/fonts/15.woff) format("woff"), url(http://staging.typefront.com/fonts/15.otf) format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Doradani"
  src: url(http://staging.typefront.com/fonts/16.eot)
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Doradani"
  src: url(http://staging.typefront.com/fonts/16.woff) format("woff"), url(http://staging.typefront.com/fonts/16.otf) format("opentype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Droid Sans"
  src: url(http://staging.typefront.com/fonts/19.eot)
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Droid Sans"
  src: url(http://staging.typefront.com/fonts/19.woff) format("woff"), url(http://staging.typefront.com/fonts/19.otf) format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Droid Sans Mono"
  src: url(http://staging.typefront.com/fonts/24.eot)

@font-face
  font-family: "Droid Sans Mono"
  src: url(http://staging.typefront.com/fonts/24.woff) format("woff"), url(http://staging.typefront.com/fonts/24.otf) format("opentype")
  font-weight: bold
  font-style: normal

=primary-font
  font-family: "Doradani", Helvetica, Arial, sans-serif

=secondary-font
  font-family: "Droid Sans", Helvetica, Arial, sans-serif

=monospace-font
  font-family: "Droid Sans Mono", monospace

body
  +secondary-font
  font-size: 15px
  font-weight: normal
  font-style: normal

a
  color = !dark_pink
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3
  +primary-font
  font-weight: 500
  letter-spacing: -1px
  margin-bottom: 40px
  color = !dark_brown

h1
  font-size: 250%

h2
  font-size: 150%

h3
  font-size: 100%

pre
  +monospace-font
  font-size: 13px
