@import "compass/utilities/general/reset"
@import "compass/utilities/general"

+global-reset

// Site colours
$white: white
$almost_white: #ffeff5
$black: black
$tan: #f1e4b7
$brown: #c1986b
$dark_brown: #2b211d
$dark_pink: #c5003e
$lightest_pink: #ffeff5
$light_pink: #ff7bac
$lightest_grey: #eeeeee
$light_grey: #cccccc
$grey: #b3b3b3
$dark_grey: #444444
$orange: #fd9e36
$yellow: #efd786
$twitter_blue: #33ccff

// Site fonts
@font-face
  font-family: "Droid Sans"
  src: url(/fonts/1.eot)
  font-weight: normal
  font-style: normal


@font-face
  font-family: "Droid Sans"
  src: url(/fonts/1.woff) format("woff"), url(/fonts/1.otf) format("opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: "Droid Sans"
  src: url(/fonts/2.eot)
  font-weight: bold
  font-style: normal


@font-face
  font-family: "Droid Sans"
  src: url(/fonts/2.woff) format("woff"), url(/fonts/2.otf) format("opentype")
  font-weight: bold
  font-style: normal


@font-face
  font-family: "Droid Sans Mono"
  src: url(/fonts/3.eot)


@font-face
  font-family: "Droid Sans Mono"
  src: url(/fonts/3.woff) format("woff"), url(/fonts/3.otf) format("opentype")
  font-weight: bold
  font-style: normal


=primary-font
  font-family: "Droid Sans", Helvetica, Arial, sans-serif

=secondary-font
  font-family: "Droid Sans", Helvetica, Arial, sans-serif

=monospace-font
  font-family: "Droid Sans Mono", monospace

body
  +secondary-font
  font-size: 15px
  font-weight: normal
  font-style: normal

a
  color: $dark_pink
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3
  +primary-font
  font-weight: bold
  letter-spacing: -1px
  margin-bottom: 25px
  line-height: 120%
  color: $dark_brown

h1
  font-size: 250%

h2
  font-size: 150%

h3
  font-size: 100%

pre
  +monospace-font
  font-size: 13px
