<% content_for(:styles) do -%>
  <%= stylesheet_link_tag 'launching_soon/default' %>
<% end -%>
<%= image_tag 'layouts/standard/logo.png', :alt => 'TypeFront' %>
<p id="coming-soon">Coming soon.</p>
<p id="by-smallspark">brought to you by Small Spark</p>
