@import layouts/standard.sass
@import forms.sass

#font-tabs
  +clearfix
  border-bottom: 1px solid #{!light_grey}
  margin-bottom: 20px

  a 
    +zero-box-drop(5px, rgba(0, 0, 0, 0.1))
    color = !dark_grey
    float: left
    border: 
      top: 1px solid #{!light_grey}
      left: 1px solid #{!light_grey}
      right: 1px solid #{!light_grey}
    padding: 10px
    margin: 5px 2px 0
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    -moz-border-radius-topleft: 5px
    -moz-border-radius-topright: 5px
    -webkit-border-top-left-radius: 5px
    -webkit-border-top-right-radius: 5px

  a.current, a:hover
    +zero-box-drop(5px, rgba(0, 0, 0, 0.2))
    color = !black
    border: 
      top: 1px solid #{!grey}
      left: 1px solid #{!grey}
      right: 1px solid #{!grey}
    text-decoration: none

#font-family
  margin-bottom: 5px
  letter-spacing: 0

#font-subfamily
  margin: 5px 0 22px 2px
  text-transform: lowercase

#font-header
  position: relative
  margin-bottom: 18px

  .actions
    position: absolute
    top: 10px
    right: 10px
    margin-bottom: 20px
    width: 150px

  .actions li
    list-style-type: none
    margin-bottom: 13px

  .actions a
    display: block
    text-align: right
    margin-bottom: -4px
    text-decoration: none
    color = !black

  .actions a.remove-font
    background: url('/images/layouts/standard/icons.png') no-repeat scroll right -29px
    height: 18px
    padding: 3px 33px 0 0
    opacity: 0.7

  .actions a.remove-font:hover
    opacity: 1

.font-notice
  +rounded-corners(5px)
  background: url(/images/alert.png) no-repeat scroll 10px 8px
  margin-bottom: 10px
  line-height: 1.4em
  border: 2px solid #{!orange}
  padding: 10px 10px 10px 40px
  background-color: #FFF7DF
  font-size: 13px

  em
    font-weight: bold
    
.back-link
  margin-top: 20px

@import fonts/show/information.sass
@import fonts/show/example_code.sass
@import fonts/show/allowed_domains.sass
