#body h1 {
  margin-bottom: 30px;
}

#body h2 {
  margin: 20px 0;
}

#body p {
  line-height: 1.4em;
  margin: 10px 0;
}

#body dl {
  margin: 20px 0;
}

#body dt {
  margin: 5px 0;
  font-weight: 500;
}

#body dd em {
  color: #C5003E;
  font-style: normal;
}

#body dd {
  margin: 0 0 20px 20px;
}

#body dd p {
  margin: 0;
}

#body dd pre {
  margin-top: 5px;
  line-height: 1.2em;
}
