#body h1 {
  margin-bottom: 20px;
}

#new-user-form label {
  width: 160px;
}

#new-user-form .formError {
  margin-left: 170px;
}

#new-user-form .submit {
  margin: 10px 0 0 170px;
}

#new-user-form .submit-paypal {
  margin: 10px 0 0 164px;
}

#card_expiry_2i {
  width: 60px;
}

#card_expiry_1i {
  width: 75px;
}

.subscription-info {
  margin: 20px 0 20px 170px;
  line-height: 1.4em;
  border: 2px solid #ff7bac;
  padding: 10px;
  background-color: #FFEFF5;
  width: 288px;
  text-align: center;
}

.subscription-info p {
  margin: 5px 0;
}

.card-logos {
  margin-left: 170px;
}

.accept-terms input {
  margin-left: 170px;
}

.accept-terms label {
  display: inline;
  float: none;
  text-align: left;
  margin: 0 0 0 10px;
}
