form > div, fieldset > div {
  margin: 5px 0;
  position: relative;
}

fieldset {
  margin: 10px 0;
}

label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  display: block;
  float: left;
}

label.text {
  position: relative;
  top: 10px;
}

input {
  font-family: "Doradani", Helvetica Neue, Helvetica, Arial, sans-serif;
}

input.text {
  height: 25px;
  background: url('/images/layouts/standard/text-field-bg.jpg') repeat-x scroll top left;
  font-size: 16px;
  height: 20px;
  padding: 5px;
  border: 1px solid #CCC;
  margin: 2px 0;
  width: 300px;
}

select {
  height: 35px;
  padding: 3px;
  width: 310px;
  font-family: "Doradani", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.submit {
  background-color: #2B211D;
  color: #f1e4b7;
  font-family: "Doradani", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 5px;
  border: 0;
  cursor: pointer;
}

.required {
  position: absolute;
  top: 9px;
  left: 493px;
  font-size: 25px;
  color: #C5003E;
}

.required span {
  color: #666;
  font-size: 15px;
  position: relative;
  top: -9px;
}

.formError {
  font-weight: bold;
  color: #C5003E;
  margin-top: 5px;
  margin-bottom: 10px;
}

.errorExplanation h2, .errorExplanation p {
  display: none;
}

.errorExplanation li {
  list-style-type: none;
  color: #C5003E;
  font-weight: bold;
  margin-bottom: 10px;
}
