fieldset {
  margin: 5px 0;
}

label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  display: block;
  float: left;
}

label.text {
  position: relative;
  top: 10px;
}

input {
  font-family: "Doradani", Helvetica Neue, Helvetica, Arial, sans-serif;
}

input.text {
  height: 25px;
  background: url('/images/layouts/standard/text-field-bg.jpg') repeat-x scroll top left;
  font-size: 16px;
  height: 20px;
  padding: 5px;
  border: 1px solid #CCC;
  margin: 2px 0;
  width: 300px;
}

.formError {
  font-weight: bold;
  color: #C5003E;
  margin-top: 5px;
  margin-bottom: 10px;
}
