h1 {
  margin-bottom: 20px;
}

#new-session-form label {
  width: 73px;
}

.remember-me {
  margin-left: 78px;
}

.remember-me label {
  display: inline;
  float: none;
  text-align: left;
  margin: 0 0 0 10px;
}

.submit {
  margin-left: 83px;
}
