<p class="links"><%= link_to 'Terms of service', terms_url %> | <%= link_to 'Contact us', 'mailto:contact@typefront.com' %></p>
<%= link_to image_tag('layouts/standard/smallspark.png', :alt => 'Small Spark web design and development in Brisbane, Australia'), 'http://www.smallspark.com.au', :class => 'smallspark-logo' %>
