<p class="links"><%= link_to 'Terms of service', terms_url %> | <%= link_to 'Support', 'http://smallspark.lighthouseapp.com/projects/46147/home' %> | <%= link_to 'Contact us', contact_url %></p>
<%= link_to image_tag('layouts/standard/smallspark.png', :alt => 'Small Spark web design and development in Brisbane, Australia', :width => 129, :height => 31), 'http://www.smallspark.com.au', :class => 'smallspark-logo' %>
